body
  h1 Login Form

  form(action="/users" method="POST")
    div
      label(for="username") Username:
      input(type="text" id="username" name="username")

    div
      label(for="password") Password:
      input(type="password" id="password" name="password")

    button(type="submit") LOGIN